body {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

a:hover {
    color: #6b8e23;
}

#main {
    margin: 0 auto;
    padding: 0.6em;
    max-width: 700px;
}

h1 {
    text-align: center;
    font-size: 200%;
}

h2 {
    margin: 1em 0 0 0;
    font-size: 150%;
}

#langs {
    text-align: right;
    margin: 0 0 -1em 0;
    padding: 0;
}

#langs a img {
    width: 20px;
}

#avatar {
    display: block;
    margin: 0 auto;
    height: 60px;
    border-radius: 15px;
}

